body {
  background-color: #f0f2f5; /* Light background color */
  font-family: 'Inter', sans-serif; /* Use the imported font */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height */
}

.login-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Fixed width for the card */
  text-align: center;
}

.login-card h1 {
  margin-bottom: 20px;
  font-size: 24px; /* Larger font size for the heading */
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Font size for inputs */
}

.login-card button {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Primary button color */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px; /* Font size for button */
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-card button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}